.contact-form {
  background: #fff;
  padding: 28px 24px;
  border-radius: 10px;
  box-shadow: 0 2px 15px #b0e7cb50;
  max-width: 420px;
  margin-bottom: 40px;
}

.contact-form label {
  display: block;
  margin-bottom: 14px;
  color: #23473e;
  font-size: 1.1em;
}

.contact-form input {
  width: 100%;
  padding: 8px 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #a3dbba;
  font-size: 1em;
}

.contact-form button {
  margin-top: 18px;
  background: #20b57e;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
}

.contact-form button:hover {
  background: #159364;
}

.contacts-list {
  max-width: 420px;
  padding: 0;
  list-style: none;
  margin: auto;
  color: #244d44;
}

.contacts-list li {
  padding: 12px 0;
  border-bottom: 1px solid #c2f2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background: #ca2525;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  cursor: pointer;
  font-weight: bold;
}

.remove-btn:hover {
  background: #982020;
}
